
.stepsWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white;

	> * {
		margin: 0 5px;

		&:hover {
			cursor: pointer;
		}
	}
}

.symbol {
	font-weight: bold;

	&.disabled {
		color: $grey;
	}

	&:first-child {
		margin-right: 15px;
	}

	&:last-child {
		margin-left: 15px;
	}
}

.step {
	$size: 35px;

	display: flex;
	align-items: center;
	justify-content: center;
	width: $size;
	height: $size;
	border-radius: $size;
	background-color: $primary-color;

	&:hover, &.active {
		background-color: $secondary-color;
	}
}
