
.heroWrapper {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 60px);
	background-color: $black;
}

.section {
	position: relative;
	width: 50%;
	opacity: 0.6;
	transition: ease all 0.3s;

	&:hover {
		opacity: 1;
		cursor: pointer;
	}
}

.sectionImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sectionLabel {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	padding-left: 30px;
	height: 80px;
	color: $white;
	background-color: $primary-color;
	font-weight: bold;
	font-size: 30px;
}
