
@import "../../../../styles/mixins";

.cardWrapper {
	position: relative;
	width: 200px;
	height: 300px;

	&:hover {
		cursor: pointer;

		.metadata {
			align-items: start;
			height: 85%;

			.year, .description {
				display: inherit;
			}
		}
	}
}

.image {
	width: 100%;
	object-fit: cover;
}

.metadata {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: start;
	flex-direction: column;
	padding: 0 15px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	color: $white;
	transition: ease all 0.3s;

	& > *:not(:first-child) {
		margin: 5px 0;
	}
}

.title {
	padding: 15px 0;
	font-size: 16px;
	font-weight: bold;
	@include ellipsis(100%);
}

.year {
	display: none;
	font-size: 14px;
	font-weight: bold;
}

.description {
	display: none;
	font-size: 12px;
}
