
.headerWrapper {
	position: relative;
}

.header {
	position: relative;
	height: 60px;
	color: $white;
	background-color: $black;
	z-index: 2000;
}

.leftSide, .rightSide {
	display: flex;
	justify-content: center;
	align-items: center;

	.navItem {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 0 15px;
		transition: ease all 0.2s;

		&:hover, &.active {
			background-color: $primary-color;
		}
	}

	.link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: $white;
		text-decoration: none;
	}
}

.logo, .navItem, .freeBtn {
	cursor: pointer;
}

.logo {
	padding-right: 15px;
}

.separator {
	height: 60%;
	border-right: 2px solid $white;
}

.freeBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	margin-left: 15px;
	height: 30px;
	background-color: $primary-color;
	border-radius: 30px;
	font-weight: bold;
	transition: ease all 0.3s;

	&:hover {
		background-color: darken($primary-color, 10);
	}
}

.filtersWrapper {
	$size: 60px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $size;
	background-color: $primary-color;
	z-index: 1000;
	transition: ease all 0.2s;

	&.active {
		top: $size;
	}
}

.inputText {
	$size: 30px;

	padding: 0 15px;
	width: 70%;
	min-width: 200px;
	height: $size;
	background-color: $white;
	color: $black-lighter;
	border-radius: $size;
	border: none;
}
